/* ***************
        LOGIN
   *************** */

   body {
    background: rgba(255, 255, 0, 0.6);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
}



.header {
    display: flex;
    width: 100%;
    height: 120px;
    background: #16180A;
    padding-bottom: 20px;
}



.logo {
    display: flex;
    width: 260px;
    margin-top: 20px;
}


.recuadro1 {
    width: 640px;
    height: 480px;
    margin: 5px;
    text-align:center;
    background: #16180A;
    border: 3px solid #000000;
    border-radius: 24px;
}

.recuadro2 {
    width: 640px;
    height: 480px;
    text-align:center;
    margin: 5px;

    background: #FFFFFF;
    border: 3px solid #8F02FE;

    border-radius: 24px;
}

.flex-container {
    margin-top: 160px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding: 5px;

  }

/* Ingresa y accedé a grandes descuentos en las farmacias asociadas */

.TextoIndicador {
position: relative;
width: 512px;
height: 133px;
left: 64px;

font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}


/* imagen saludBA */

.imagenBA {
display: flex;
width: 320px;
height: 262px;
margin-left: 25%;

background: url(image.png);
border-radius: 24px;
}


.iniciarSesionText {
    /* Iniciar sesión */




    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}


/* Ingresar usuario */

.ingresarUsuario {
display: flex;
width: 469px;
height: 36px;
left: 830px;
top: 427px;
}

.ingresarContrasenia {
    /* Ingresar contraseña */


display: flex;
    width: 469px;
    height: 36px;
    left: 830px;
    top: 501px;

}


button {

    /* Boton iniciar sesion */
    font-size: 18px;
    width: 176px;
    height: 40px;
    background: #D7D7D7;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 16px;
    margin-top: 30px;
}

.iniciarSesion{
    background: #2D35ED;
    color: white;
}

input{
    font-size: 18px;
    margin-top: 24px;
    border: none;
    width: 200px;
    height: 24px;
    border-bottom: 2px solid black;
}





.olvidasteClave {
    font-size: 18px;
    text-align: center;
    color: #4075FF;
    text-decoration: none;
}


.footer {
display: flex;
    width: 100%;
    height: 88px;
    background: #16180A;
}




/* ***************
        PAGINA PRINCIPAL
   *************** */
.principal{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 35vw;
    justify-content: space-evenly;
    align-content: center;
    margin-left:10%;
    margin-top: 5%;
}

.izq{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    left:10%;
}

.der{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
}


 .primercuadro{
    display: flex;
    width: 100%;
    background: #6133A5;
    text-align: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    height: 5vw;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0.5vw;
    transform: rotate(-11.52deg);
    justify-content: space-between;
    align-items: center;
    padding: 10% 5% 10% 5%;
    
  }

  .primerCuadro a img {
    display: flex;
    width: 100%;
  }


  .segundocuadro{
    display: flex;
    width: 100%;
    height: 5vw;
    background:#FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #000000;
    border-radius: 0.5vw;
    
    justify-content: space-between;
    align-items: center;
  } 


.imagenBA2{
    position: absolute;
    width: 414px;
    height: 88px;
    left: 0px;
    top: 0px;
}

.usuario {
    /* Usuario */


    position: absolute;
    width: 125px;
    height: 42px;
    left: 994px;
    top: 23px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #FFFFFF;
}


.cerrarSesion {

    width: 212px;
    height: 43px;
    position: absolute;
    right: 24px;
    top: -8px;
    color: red;
    box-sizing: border-box;
    border-radius: 16px;
}


.farmacity {
    position: relative;
    width: 300px;
    height: 120px;
    top: 32px;
    right:80px;
    background: url(image.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    transform: rotate(5.5deg);
} 





.drAhorro {
    position: relative;
    width: 150px;
    height: 120px;
    top: 32px;
    right:120px;
    border-radius: 24px;
    transform: rotate(5.5deg);
}


.tkl {
    display: flex;
    width: 100%;
    
} 


.footer {
    display: flex;
    margin-top: 6vw;
    width: 100%;
    height: 5.4vw;
    background: #16180A;
}

.usuarioIngresado {
    width: 212px;
    height: 43px;
    position: absolute;
    right: 320px;
    top:-4px;
    background-color: #16180A;
    border-radius: 16px;
    text-align: center;
    color: white;
    border:none;
}

.descuentos{
    text-align: center; padding-left: 25px; padding-top: 20px;
}

